.math span.supsub {
    font-size: 70%;
    vertical-align: -0.35em;
    margin: 0 -0.1em -0.15em -0.1em;
}

.math span.supsub span.supsub-top{
    padding: 0 .1em;
    display: block;
}

.math span.supsub span.supsub-bottom {
    float: right;
    width: 100%;
    padding: 0 0.1em;
    display: block;
}

.math span.supsub.before {
    text-align: right;
}

.math .at>span.supsub>span.supsub-top>span.supsub-inner {
    vertical-align: 1em;
}
.math .at>span.supsub>span.supsub-bottom>span.supsub-inner {
    vertical-align: -1em;
}

.math .int>span.supsub>span.supsub-top>span.supsub-inner {
    margin-left: -0.1em;
}
.math .int>span.supsub>span.supsub-bottom>span.supsub-inner {
    margin-left: -0.5em;
}

.math .letter-f + span.supsub>span.supsub-top>span.supsub-inner {
    margin-left: 0.1em;
}
.math .letter-f + span.supsub>span.supsub-bottom>span.supsub-inner {
    margin-left: -0.2em;
}