.math span.fraction {
    font-size: 80%;
    vertical-align: -0.35em;
}

.math span.fraction span.numerator {
    padding: 0 .1em;
    display: block;
}

.math span.fraction span.numerator {
    padding-bottom: .2em;
}

.math span.fraction span.denominator {
    float: right;
    width: 100%;
    padding: 0 0.1em;
    display: block;
}

.math span.fraction {
    padding: 0 0.2em;
    text-align: center;
}

.math span.fraction span.denominator {
    border-top: 1px solid;
    padding-top: 0.1em;
}