/*@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');*/
@font-face {
    font-family: 'Symbola';
    src: url("../fonts/Symbola.woff") format("woff");
}

#math-output, textarea {
    color: white;
    background: black !important;
}
svg {
    filter: invert();
}

body {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

#root {
    display: flex;
    height: 100vh;
}

#math-output, textarea {
    display: block;
    height: 100%;
    border: 10px solid black;
    outline: 1px solid white;
    outline-offset: -5px;
    padding: 0;
}

#math-output {
    font-size: larger;

    width: 8.5in;
    overflow-y: auto;
}

#math-output::-webkit-scrollbar,
textarea::-webkit-scrollbar{
    display: none;
}

* {
    box-sizing: border-box;
}

textarea {
    flex-grow: 1;
    resize: none;

    font-family: 'JetBrains Mono', monospace;
    font-size: 9pt;
}

.math span.text {
    font-family: 'Times New Roman', serif;
    white-space: normal;
    display: inline;
}

.math span.number {}

.math .expr:empty::before {
    content: '';
    position: absolute;
    display: block;
    top: .1em;
    width: calc(100% - .2em);
    height: calc(100% - .3em);
    background: #ddd;
}

.math .expr:empty::after {
    content: ' ';
    display: inline-block;
    width: .6em;
}

.math .group-content:empty::after {
    content: ' ';
    display: inline-block;
    width: .1em;
}

.math .at:not(.expr) {
    vertical-align: -0.14em;
    transform: scaleX(.7);
    font-size: 250%;
}

.math .int:not(.expr) {
    font-family: 'Symbola', 'Times New Roman', sans-serif;
    vertical-align: -0.15em;
    transform: scaleX(.7);
    font-size: 200%;
}

.bold {
    font-weight: bold;
}
.bold, .bold * {
    font-style: normal;
}

.italic {
    font-style: italic;
}

.math span.break {
    display: block;
    height: 5px;
}