/*@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');*/
@font-face {
    font-family: 'Symbola';
    src: url("../fonts/Symbola.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#root {
    display: flex;
    height: 100vh;
}

#math-output {
    border: 1px solid black;
    margin: 5px;
    height: fit-content;
}

* {
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
    font-family: Nunito, Roboto, arial, sans serif;
    font-size: large;
    display: block;
    box-sizing: border-box;
}

.math sup, .math sub {
    font-size: 70%;
    margin-left: .1em;
}
.math sup {
    vertical-align: -.1em;
}

.math span.sup{
    vertical-align: .5em;
    margin-bottom: -.2em;
}

.math span.text {
    font-family: 'Times New Roman', serif;
    white-space: pre;
}

.math span.number {}

.math .expr:empty::before {
    content: '';
    position: absolute;
    display: block;
    top: .1em;
    width: calc(100% - .2em);
    height: calc(100% - .3em);
    background: #ddd;
}

.math .expr:empty::after {
    content: ' ';
    display: inline-block;
    width: .6em;
}

.math .group-content:empty::after {
    content: ' ';
    display: inline-block;
    width: .1em;
}

.math .int {
    font-family: 'Symbola', 'Times New Roman', sans-serif;
    /*font-size: 150%;*/
    vertical-align: -0.1em;
    transform: scaleX(.7);
    font-size: 150%;
}

.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}